---
import { Image } from "astro:assets";

import playerDecoration from "@assets/jugador-icona-fundacio-balonmano-granollers.png";

import ButtonIcon from "@components/buttons/ButtonIcon.astro";
---

<script>
  if (typeof window !== "undefined") {
    window.addEventListener("DOMContentLoaded", () => {
      const infoSection = document.getElementById("info");
      if (infoSection) {
        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                infoSection.classList.add("animate");
                observer.unobserve(infoSection);
              }
            });
          },
          { threshold: 0.5 },
        );

        observer.observe(infoSection);
      }
    });
  }
</script>

<section id="info">
  <div class="info-decoration outter"></div>
  <div class="info-decoration inner"></div>
  <div class="info-decoration image">
    <Image class="player-decoration" src={playerDecoration} alt="" />
  </div>

  <div class="info-container">
    <p class="info-text">
      L'1 de juny de 1999 es va constituir la <span class="global-clr-accent">
        Fundació BM Granollers</span
      >, per iniciativa del Club Balonmano Granollers, i d'una sèrie de
      persones, empreses, entitats i institucions com l'Ajuntament de
      Granollers.
    </p>
    <ButtonIcon text="Veure més" />
  </div>
</section>

<style>
  #info {
    --decoration-width: 45vw;
    --decoration-gap: 2.5rem;
    position: relative;
  }

  .info-decoration {
    position: absolute;
    left: 0%;
    top: 50%;
    opacity: 0;
  }

  .info-decoration.outter {
    background-color: var(--clr-secondary);
    width: var(--decoration-width);
    height: var(--decoration-width);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .info-decoration.inner {
    background-color: var(--clr-accent);
    width: calc(var(--decoration-width) - var(--decoration-gap));
    height: calc(var(--decoration-width) - var(--decoration-gap));
    transform: translate(-50%, -50%) rotate(45deg);
  }

  #info.animate .info-decoration.outter {
    animation: slide-from-left 0.6s 0.2s ease-in-out forwards;
  }

  #info.animate .info-decoration.inner {
    animation: slide-from-left 0.6s 0.4s ease-in-out forwards;
  }

  #info.animate .info-decoration.image {
    animation: slide-from-left-img 0.6s 0.8s ease-in-out forwards;
  }
  .info-decoration.image {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(45%, -50%);
    width: calc(
      var(--decoration-width) * 0.4
    ); /* Adjust the multiplier as needed */
    height: auto;
    opacity: 0;
  }

  /* Ensure the image inside fills its container */
  .info-decoration.image .player-decoration {
    width: 100%;
    height: auto;
  }
  .info-container {
    padding-left: 40%;
    padding-right: var(--space-x-xl);
    padding-block: 7.8125rem;
  }

  .info-text {
    font-size: var(--fnt-sz-regular);
    line-height: 1.15em;
    font-weight: var(--fnt-wg-light);
    letter-spacing: 0.019em;
    margin-bottom: 4.375rem;
    /* text-wrap:; */
  }

  @keyframes slide-from-left {
    0% {
      transform: translate(-100%, -50%) rotate(45deg);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) rotate(45deg);
      opacity: 1;
    }
  }

  @keyframes slide-from-left-img {
    0% {
      transform: translate(-100%, -50%);
      opacity: 0;
    }
    100% {
      transform: translate(40%, -50%);
      opacity: 1;
    }
  }
</style>
