---
import { Image } from "astro:assets";
import cupImage from "@assets/miscellaneous/cup.svg";

const { number, heading } = Astro.props;
---


  <h3 class="titles-heading" >
    <span class="titles-num">{number}</span>{heading}
  </h3>
  <div class="divider-container">
    <Image class="cup" src={cupImage} alt="copa" />
    <div class="divider-line"></div>
  </div>


<style>
  .titles-heading {
    font-weight: var(--fnt-wg-regular);
    font-size: clamp(1.5rem, 1.188rem + 1.388vi, 2.5rem);
    color: var(--clr-accent);
    letter-spacing: -0.06rem;
    padding-top: 5.4375rem;
  }

  .titles-num {
    font-weight: var(--fnt-wg-bold);
    padding-right: clamp(0.5rem, 0.344rem + 0.694vi, 1rem);
    color: var(--clr-secondary);
    font-size: clamp(2.6rem, 1.851rem + 3.33vi, 5rem);
  }

  .divider-container {
    position: relative;
    margin-bottom: 4.375rem;
  }

  .divider-line {
    height: 3px;
    background-color: var(--clr-accent);
    margin-top: -0.6rem;
    margin-bottom: 1rem;
  }

  .cup {
    position: absolute;
    bottom: -0.0447rem;
    right: -1.05rem;
    width: clamp(3.5rem, 2.329rem + 5.204vi, 7.25rem);
    height: auto;
  }
</style>
