---

---

<div class="divider-container">
  <div class="divider-line"></div>
</div>

<style>
  .divider-container {
    display: flex;
    justify-content: center;
    background-color: var(--clr-secondary);
  }

  .divider-line {
    height: 2px;
    width: 85vw;
    background-color: rgba(34, 34, 33, 0.2);
  }
</style>
