---

const { title, highlighted} = Astro.props;

---

<div class="h2-wrapper">
  <div class="h2-container">
    <h2>{title}
    {highlighted && <span class="global-clr-accent">{highlighted}</span>}
    </h2>
  </div>
</div>

<style>
  .h2-wrapper {
    width: 100%;
    position: absolute;
    padding-inline: var(--space-x-xl);
    left: 50%;
    top: -4rem;
    transform: translateX(-50%);
    z-index: 1;
    display: grid;
    place-items: center;
  }
  
  .h2-container {
    background-color: var(--clr-primary);

    border-radius: 5rem;
    width: 100%;
    max-width: 47.3125rem;
  }

  h2 {
    padding-block: 2.375rem;
    padding-inline: min(var(--space-x-xl), 2.375rem);

    font-size: clamp(1.125rem, 1.043rem + 0.351vi, 1.375rem);
    font-weight: var(--fnt-wg-regular);
    text-align: center;
  }
</style>
