---
import blueArrow from "@assets/small-blue-arrow.png";
import whiteArrow from "@assets/small-white-arrow.webp";
import { Image } from "astro:assets";

import RightArrow from "@components/RightArrow.astro";
const { href, text, newTab, isBlueArrow } = Astro.props as {
  href: string;
  text: string;
  isBlueArrow: boolean;
  newTab?: boolean;
};
---

<a
  href={href}
  rel={newTab ? "noopener noreferrer" : undefined}
  aria-label={`Navega a la pàgina ${text}${newTab ? ", s'obre en una nova pestanya" : ""}`}
  target={newTab ? "_blank" : ""}
>
  <div
    class="button-container"
    style=`${isBlueArrow ? "--clr-background: var(--clr-secondary)" : "--clr-background: var(--clr-primary)"}`
  >
    <div class="button-image">
      <RightArrow isBlueColor={isBlueArrow} />
    </div>
  </div>
</a>

<style>
  .button-container {
    display: grid;
    place-items: center;
    --button-radius: 2rem;
    width: clamp(4.583rem, 4.451rem + 1.109vi, 5.5rem);
    height: clamp(2.813rem, 2.732rem + 0.68vi, 3.375rem);
    background-color: var(--clr-background);
    border-radius: var(--button-radius);
    transition:
      background-color 0.2s ease,
      color 0.3s ease,
      transform 0.2s ease;
    /* padding-inline: 1.3625em;
    padding-block: 0.5em; */

  }

  .button-container:hover .button-image,
  a:hover .button-image {
    transform: translateX(20%);
  }

  .button-image {
    height: 100%;
    display: grid;
    place-items: center;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
  }
</style>
