/* Fonts */
/* Regular */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Poppins-Regular.woff2") format("woff2");
}

/* Medium */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Poppins-Medium.woff2") format("woff2");
}

/* Semi-Bold */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Poppins-SemiBold.woff2") format("woff2");
}

/* Global styles and resets */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties (CSS variables) */

:root {
  /* Colors */
  --clr-primary: #223cc1;
  --clr-secondary: #ffffff;
  --clr-accent: #f9dc0a;

  /* Spaces */
  --space-x-sm: 2.875rem;
  --space-x-m: 3.875rem;
  --space-x-xl: calc(var(--space-x-sm) + var(--space-x-m));

  /* Fonts */

  /* Fonts Weights*/
  --fnt-light: 400;
  --fnt-regular: 500;
  --fnt-bold: 600;
}
