/* Fonts */
/* Regular */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Poppins-Regular.woff2") format("woff2");
}

/* Medium */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Poppins-Medium.woff2") format("woff2");
}

/* Semi-Bold */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/Poppins-SemiBold.woff2") format("woff2");
}

/* Global styles and resets */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties (CSS variables) */

:root {
  /* Colors */
  --clr-primary: #223cc1;
  --clr-secondary: #ffffff;
  --clr-accent: #f9dc0a;

  /* Spaces */
  --space-x-sm: 2.875rem;
  --space-x-m: 3.875rem;
  --space-x-xl: calc(var(--space-x-sm) + var(--space-x-m));

  /* Fonts */

  /* Font Sizes */

  /* Around 14px for 1344px width */
  --fnt-sz-extra-sm: clamp(0.8475rem,0.8257rem + 0.1086vi,0.9615rem);
  /* Around 18px for 1344px width */
  --fnt-sz-sm: clamp(1rem, 0.9524rem + 0.2381vi, 1.25rem);

  /* Around 40px for 1344px width */
  --fnt-sz-m: clamp(1.9388rem, 1.628rem + 1.5537vi, 3.5701rem);
  /* Around 50px for 1344px width */
  --fnt-sz-xl:  clamp(2.2878rem, 1.8395rem + 2.2413vi, 4.6412rem);
  /* Around 80px for 1344px width */
  --fnt-sz-xxl: clamp(2.6996rem, 2.0645rem + 3.1752vi, 6.0335rem);
   
  /* Fonts Weights*/
  --fnt-wg-light: 400;
  --fnt-wg-regular: 500;
  --fnt-wg-bold: 600;
}
