---
import BaseLayout from "@layouts/BaseLayout.astro";
import { Image } from "astro:assets";

import { SECTIONS } from "@data/SectionsData";
import ButtonInternalPage from "@components/buttons/ButtonInternalPage.astro";
import heroImage from "@assets/image-3.webp";

export async function getStaticPaths() {
  return SECTIONS.map((page) => {
    return {
      params: { pages: page.linkHref },
      props: {
        title: page.label,
        // content: formatHtml(page.content.rendered),
        // image: page.image,
      },
    };
  });
}
---

<BaseLayout title="" description="">
  <section class="hero">
    <h1 class="global-clr-accent title-text">Projectes de cooperació</h1>
    <nav class="hero-navigation-container">
      <ul class="list-container">
        <li>
          <ButtonInternalPage text="Nigèria" slug="#nigeria" />
        </li>
        <li>
          <ButtonInternalPage text="Senegal" slug="#senegal" />
        </li>
      </ul>
    </nav>
    <div class="image">
      <Image class="global-hero-image image" src={heroImage} alt="" />
    </div>
  </section>
  <section class="info-container">
    <div id="nigeria" class="paragraph">
      <h2 class="paragraph-title">Cooperació amb Nigèria</h2>
      <p>
        El 2006, la participació d'un equip masculí de Nigèria a la Granollers
        Cup va ser una fita destacable. Els jugadors van sorprendre tothom amb
        el seu joc explosiu i de gran qualitat, cosa que va obrir la porta a una
        col·laboració única. Aquest intercanvi va permetre iniciar un projecte
        de cooperació amb la Federació Nigeriana d’Handbol. L'objectiu era
        facilitar la formació esportiva d'aquests jugadors al Club BM Granollers
        i oferir-los la possibilitat de continuar els seus estudis en un entorn
        familiar, gràcies a la generosa acollida de famílies vinculades al club.
        <br />
        <br />
        El projecte es va materialitzar la temporada 2007/08 amb l'arribada de tres
        joves jugadors: Salisu Garba, A. Babangida i Alí Ahmed, que es van incorporar
        als equips Infantil A, Infantil Sporting i Aleví A, respectivament. Tot i
        que aquesta iniciativa només va tenir continuïtat durant una temporada, va
        ser una experiència enriquidora i va destacar per la seva ambició de crear
        oportunitats internacionals per a joves esportistes.
      </p>
    </div>
    <div id="senegal" class="paragraph">
      <h2 class="paragraph-title">
        Cooperació a la regió de Kédougou, Senegal
      </h2>
      <p>
        El projecte de cooperació a Kédougou va néixer impulsat per diversos
        factors. D'una banda, els germans Mamadou, Kaba i Gundo Gassama,
        esportistes del Club BM Granollers, tenien arrels familiars a la regió
        de Kédougou, al Senegal. A més, a la zona hi havia un equip femení que
        practicava handbol, i l'Ajuntament de Granollers, sota la direcció de
        l'alcalde Josep Mayoral, va establir lligams de col·laboració amb la
        regió després d'una visita oficial. 
        <br />
        <br />
        Aquestes circumstàncies van ser
        l’estímul per a que la Fundació BM Granollers i el Club engeguessin un
        projecte de formació entre els anys 2017 i 2022, amb la participació de
        tècnics com Pol García, David Ginesta i Aleix Caussa. Aquests formadors,
        plens d’entusiasme, van treballar per promoure l’handbol femení a la
        regió i ajudar a la formació de tècnics locals, amb l'objectiu de
        fomentar trobades escolars d'handbol. 
        <br />
        <br />
        Un moment destacat del projecte va
        ser el Torneig de l’Amistat del 2019, on un equip femení del Club BM
        Granollers va participar i va guanyar el títol de campiones. L'expedició
        incloïa també la directiva Mireia Cammany i un representant de la
        Universitat de Barcelona, reafirmant el compromís del club amb la
        formació esportiva i la cooperació internacional.
      </p>
    </div>
  </section>
</BaseLayout>

<style>
  .hero-navigation-container {
    background-color: var(--clr-secondary);
    height: 10.25rem;
    display: flex;
    align-items: center;
    padding-inline: var(--space-x-xl);
    /* flex-wrap: wrap; */
  }

  .title-text {
    font-weight: var(--fnt-wg-regular);
  }

  .list-container {
    display: flex;
    gap: 1.1875rem;
  }

  .image {
    background-color: var(--clr-secondary);

  }
  .info-container {
    background-color: var(--clr-secondary);
  }

  .paragraph-title {
    min-width: 10ch;
    letter-spacing: -0.1rem;
  }
  .paragraph {
    max-width: 1516px;
    padding-inline: var(--space-x-xl);
    padding-block: 6.625rem;
    margin-inline: auto;
    color: var(--clr-primary);
    display: flex;
    gap: clamp(1rem, -12.499rem + 22.735vi, 9rem);
  }

  p {
    font-size: clamp(1.125rem, 1.043rem + 0.351vi, 1.375rem);
    color: #000000;
    /* font-weight: var(--ftn-wg-light); */
    text-wrap: balance;
  }

  @media(width < 950px) {
    .paragraph {
      flex-direction: column;
    }

    .paragraph-title {
      text-align: center;
    }
  }
</style>
