---
import { Image } from "astro:assets";

import fundacioBMGLogo from "@assets/fundacio-balonmano-granollers-logo.webp";

import Button from "@components/buttons/Button.astro";
import HeaderMenuButton from "@components/header/HeaderMenuButton.astro";
import HeaderMenu from "@components/header/HeaderMenu.astro";
---

<script src="/src/scripts/headerMenuScript.ts"></script>

<header class="global-opposite-colors">
  <HeaderMenuButton />

  <a
    class="logo-container"
    href="/"
    aria-label="Ves a la pàgina principal de la fundació del Balonmano Granollers"
  >
    <Image
      class="logo"
      src={fundacioBMGLogo}
      loading="eager"
      alt="Logo de la fundació del Balonmano Granollers"
    />
  </a>

  <div class="header-button">
    <Button slug="https://bmgranollers.cat/cat" text="BM. Granollers" newTab />
  </div>

  <HeaderMenu />
</header>

<style>
  header {
    --logo-width: 177px;
    
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--hg-header) * 1rem);
    margin-inline: var(--space-x-m);
    padding-inline: var(--space-x-sm);
    border-bottom-left-radius: var(--radius-regular);
    border-bottom-right-radius: var(--radius-regular);
    z-index: -2;
    animation: z-index 0.6s 3000ms ease-in-out forwards;
  }

  @keyframes z-index {
    100% {
      z-index: 2;
    }
  }

  .logo-container {
    display: flex;
    justify-content: center;
  }

  @media (width < 800px) {
    header {
      height: calc(var(--hg-header-sm) * 1rem);
    }

    .logo {
      width: calc((var(--hg-header-sm) / var(--hg-header)) * 100%);
      height: auto;
    }
  }

  @media (width >= 640px) {
    .logo-container {
      position: absolute;
      left: calc(50% - (var(--logo-width) / 2));
    }
  }

  @media (width < 640px) {
    .header-button {
      display: none;
    }

    .logo-container {
      justify-content: end;
    }
  }
</style>
