---
import blueArrow from "@assets/small-blue-arrow.png";
import whiteArrow from "@assets/small-white-arrow.webp";
import { Image } from "astro:assets";
const { slug, text, newTab, isBlueArrow } = Astro.props as {
  slug: string;
  text: string;
  isBlueArrow: boolean;
  newTab?: boolean;
};
---

<!-- <div class="button"> -->
<a
  href="https://fabapps.dev/"
  rel={newTab ? "noopener noreferrer" : undefined}
  aria-label={`Navega a la pàgina ${text}${newTab ? ", s'obre en una nova pestanya" : ""}`}
  target={newTab ? "_blank" : ""}
>
  <div class="button-container">
    <Image
      class="button-image"
      src={isBlueArrow ? blueArrow : whiteArrow}
      alt=""
    />
  </div>
</a>
<!-- </div> -->

<style>
 .button-container {
  display: grid;
  place-items: center;
  --button-radius: 2rem;
  width: fit-content;
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  border-radius: var(--button-radius);
  transition:
    background-color 0.2s ease,
    color 0.3s ease,
    transform 0.2s ease;
  padding-inline: 1.3625em;
  padding-block: 0.5em;
}

/* Apply hover effect on both button-container and anchor <a> */
.button-container:hover .button-image,
a:hover .button-image {
  transform: translateX(20%);
}

.button-image {
  transform: translateX(0);
  transition: transform 0.2s ease-in-out;

  max-width: 100%; /* Ensures image doesn't exceed container width */
  height: auto; /* Maintains aspect ratio */
  width: clamp(0.5rem, 4vw, 2rem);
}

</style>
