---
import { Image } from "astro:assets";
import Button from "@components/Button.astro";
import HeaderMenuButton from "@components/HeaderMenuButton.astro";
import HeaderMenu from "@components/HeaderMenu.astro";
import fundacioBMGLogo from "@assets/fundacio-balonmano-granollers-logo.webp";
---

<script src="../scripts/HeaderMenuScript.ts"/>

<header>
  <HeaderMenuButton />
  
  <a
    class="logo-container"
    href="/"
    aria-label="Ves a la pàgina principal de la fundació del Balonmano Granollers"
  >
    <Image
      class="logo"
      src={fundacioBMGLogo}
      alt="Logo de la fundació del Balonmano Granollers"
    />
  </a>

  <div class="header-button">
    <Button slug="https://bmgranollers.cat/cat" text="BM. Granollers" newTab />
  </div>

  <HeaderMenu />
</header>

<style>
  header {
    --logo-width: 177px;
    --header-height: 5.875;
    --header-height-sm: 4.099375;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(var(--header-height) * 1rem);
    margin-inline: var(--space-x-m);
    padding-inline: var(--space-x-sm);
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    border-bottom-left-radius: var(--radius-regular);
    border-bottom-right-radius: var(--radius-regular);
  }

  .logo-container {
    display: flex;
    justify-content: center;
  }

  
  @media (width < 800px) {
    header {
      height: calc(var(--header-height-sm) * 1rem);
    }

    .logo {
      width: calc((var(--header-height-sm) / var(--header-height)) * 100%);
      height: auto;
    }
  }

  @media (width >= 640px) {
    .logo-container {
      position: absolute;
      left: calc(50% - (var(--logo-width) / 2));
    }
  }

  @media (width < 640px) {
    .header-button {
      display: none;
    }

    .logo-container {
      justify-content: end;
    }
  }
</style>
