---
import { Image } from "astro:assets";
import yellowArrow from "@assets/yellow-arrow.png";
import heroImage from "@assets/equip-femeni-balonmano-granollers.webp";
---

<section>
  <div class="hero-text">
    <h1>
      <span class="accent animated text" style="--delay: 100ms">25 anys</span
      ><br /><span class="animated text" style="--delay: 900ms"
        >defensant els colors</span
      ><br /><span class="animated text" style="--delay: 1700ms"
        >que estimem.</span
      >
    </h1>
    <a href="#info" class="hero-arrow animated" style="--delay: 2500ms">
      <Image src={yellowArrow} alt="" loading="eager" />
    </a>
  </div>
  <Image class="hero-image" src={heroImage} alt="" />
</section>

<style>
  .hero-text {
    padding-block: clamp(4rem, 5.7143rem + 1.4286vi, 4.5rem);
    padding-inline: var(--space-x-xl);
    display: flex;
    justify-content: space-between;
  }
  .hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1512 / 751;
    opacity: 0;
    animation: fade-in-img 1s ease-in-out forwards;
  }

  h1 {
    font-size: var(--fnt-sz-xxl);
    font-weight: var(--fnt-wg-light);
    letter-spacing: -0.04em;
    line-height: 1em;
    position: relative;
  }

  .hero-arrow {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.38em;
    opacity: 0;
  }
  .accent {
    color: var(--clr-accent);
    font-weight: var(--fnt-wg-bold);
  }

  span {
    display: inline-block;
    text-align: start;
  }
  .text {
    opacity: 0;
  }
  .text.animated {
    animation: animate-lines 1s var(--delay, 0ms)
      cubic-bezier(0, 0, 0.58, 1.2) forwards;
  }

  .hero-arrow.animated {
    animation: animate-arrow 0.6s var(--delay, 0ms) cubic-bezier(0.8, 0, 0.2, 1)
      forwards;
  }
  @media (width < 800px) {
    .hero-text {
      padding-block: clamp(2rem, 1.6667rem + 1.6667vi, 3.75rem);
    }
  }


  @keyframes fade-in-img {
    from {
    opacity: 0;
    transform: scale(1.05); /* Optional: add a slight scale effect */
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
  }

  @keyframes animate-lines {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes animate-arrow {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    50% {
      opacity: 1;
      transform: translateY(10%);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

</style>
