---
import ButtonIcon from "@components/ButtonIcon.astro"
---

<section>
    <div class="info-container">
        <p>

        </p>
        <ButtonIcon text="Veure més"/>
    </div>
</section>

<style>
    section {
        height: 39.875rem;
        border: 1px solid white;
    }
</style>