---
import ButtonIcon from "@components/ButtonIcon.astro";
---

<section id="info">
    <div class="info-decoration-outter"></div>
    <div class="info-decoration-inner"></div>
    
  <div class="info-container">
    <p class="info-text">
      L'1 de juny de 1999 es va constituir la <span class="global-accent" >
       Fundació BM Granollers</span>, per iniciativa del Club Balonmano Granollers, i
        d'una sèrie de persones, empreses, entitats i institucions com
        l'Ajuntament de Granollers.
      </span>
      <ButtonIcon text="Veure més" />
    </p>
  </div>
</section>

  <style>
    #info {
        --decoration-width: 45vw;
        --decoration-gap: 2.5rem;
      border: 1px solid white;
      position: relative;
    }

    .info-decoration-outter {
    position: absolute;
    background-color: var(--clr-secondary);
    left: 0%;
    top: 50%;
    width: var(--decoration-width);
    height: var(--decoration-width);
    transform: translate(-50%, -50%) rotate(45deg);
}

.info-decoration-inner {
    position: absolute;
    background-color: var(--clr-accent);
    left: 0%;
    top: 50%;
    width: calc(var(--decoration-width) - var(--decoration-gap));
    height: calc(var(--decoration-width) - var(--decoration-gap));
    transform: translate(-50%, -50%) rotate(45deg);
}
    .info-container {
      padding-left: 40%;
      padding-right: var(--space-x-xl);
      padding-block: 7.8125rem;
      /* z-index: -1; */
    }

    .info-text {
      font-size: var(--fnt-sz-regular);
      line-height: 1.15em;
      font-weight: var(--fnt-wg-light);
      letter-spacing: 0.019em;
      margin-bottom: 4.375rem;
      /* text-wrap:; */
    }
  </style>
