---
import ButtonScrollTop from "@components/buttons/ButtonScrollTop.astro";
---

<div class="global-opposite-colors scroll-to-top-container">
  <ButtonScrollTop text="Torna amunt" slug="#hero" />
</div>

<style>
  .scroll-to-top-container {
    display: grid;
    place-items: center;
    padding-bottom: var(--space-y-page-section);
  }
</style>
